/* Enter your custom styles here */
/* Dialog Customization */
.dialogCustom .sapMDialog {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Header Customization */
.dialogCustom .sapMDialogTitle {
  font-weight: bold;
}

/* Input Field Customization */
.dialogCustom .sapMInput {
  border-radius: 4px;
}

.dialogCustom .sapMInput::placeholder {
  color: #005687;
}

/* Date Picker Customization */
.dialogCustom .sapMInputBaseInner {
  border-radius: 4px;
}

/* Button Customization */
.dialogCustom .sapMBtn {
  border-radius: 4px;
  margin: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.dialogCustom .sapMBtnAccept {
  background-color: #4caf50;
  color: white;
}

.dialogCustom .sapMBtnReject {
  background-color: #f44336;
  color: white;
}

/* Hover effects for buttons */
.dialogCustom .sapMBtn:hover {
  opacity: 0.9;
}
.customAttributeSpacing .sapMObjAttr {
  margin-right: 8px; /* Adjust the margin as needed */
  color: #f44336;
}

.myAdress {
  margin-right: 8px;
  margin-bottom: 10px;
  white-space: pre-line;
}

.plantTitle {
  font-size: 2rem;
}

.myHBox {
  justify-content: space-between;
}

.customMarginBottom {
  margin-bottom: 2rem; 
}

.werksPlantListText {
  font-size: 5px !important;
}

.name1PlantListText {
  font-size: 12px !important;
}

.customDialogTitle {
  background-color: #4CAF50; /* Example color */
  color: white; /* Text color */
}

.centeredCell {
  text-align: center;
}